<h1>Nuevo Ingreso en la Reserva</h1>

<%= render 'form' %>
	
<%= link_to 'Nuevo Donador', new_origin_path %> |
<%= link_to 'Nuevo Animal', new_animal_path %> |
<%= link_to 'Listado de Ingresos', entries_path %>
