<h1>Nuevo Nombre Vulgar</h1>

<%= render 'form' %>
<%= link_to 'Nueva Especie', new_kind_path %>
<%= link_to 'Listado de Nombres Vulgares', commonnames_path %>
<%= link_to 'Atrás', new_animal_path %>
